################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dome.CodeTest.Tests
/Dome.CodeTest/obj/Debug
/Dome.CodeTest/bin/Debug
